/* heading content */
h1
{
.text background-color: #FF00FF;
color: rgb(255, 0, 255);
padding: 5px;
line-height: 4em;
align-content: center;}

/* Paragraph Content */
body{
.text background-color: #BA55D3;
color: rgb(186, 85, 211);
padding: 5px;
font-family: fantasy; sans-serif;
line-height: 2em;
}

p{
  .text background-color: #BA55D3
  font-family: fantasy; sans serif;
  font-size: 2em;
  font-weight: 400;
  color: rgb(186, 85, 211);
}

/* "Read More" Link */
a
{hover
}
a{
  visited

}
a{
  active

}
