/* heading content */
h1
.text {background-color: #EOFFFF;
color: rgb(224, 255, 255):
padding: 5px
line-height: 4em;
align-content: center;}

/* Paragraph Content */
body
.text {
  background-color: #FFFFFF;
  color: rgb(147, 12, 76);
  padding: 5px;
  font-family: sans-serif; Verdana;
  line-height: 23em;
}
p:first-of-type::first-letter {
  font-family: 'fantasy'; sans serif;
  font-size: 2em;
  font-weight: 200;
  color: rgb(0, 255, 255);
}
/* "Read More" Link */
a:hover{

}
a:visited {

}
a:active {

}
