h1{
  background-color: #CD5C5C;
  opacity: 0.5;
}
/* Im getting confused */

  .square {
    width: 50%;
    height: 200pxl;
  }

  #hollyhock {
    background-color: #FF377B;
  }

  #shale {
    background-color: #7DE522;
  }

  #yellow MAGNOLIA {
    background-color: #FBE608;
  }

  #blue {
    background-color: #3AB1FC;
  }
