h1{
  color: red;
  opacity: 0.5;
}
/* Im getting confused */
  .square {
    width: 50%;
    height: 200px;
  }

  #hollyhock{
    background-color: #FF377B;
    opacity: inherit;
  }

  #shale {
    background-color: #7DE522;
  }

  #yellow-magnolia {
    background-color: #FBE608;
  }

  #blue {
    background-color: #3AB1FC;
  }
