/* Site wide elements: */
body {
    background-color: #26272b;
    background-image: linear-gradient();
    background-repeat: repeat-x;
    background-attachment: fixed;
  }

h1, span {
    margin: 0;
    font-family:fantasy;, sans-serif
    color: : blue;
    text-align: center;
}

h2{font-family: sans-serif, Georgia, serif;
  font-size: 1em;
}

/* layout areas: */
main-container {
  width: 50%;
  max-width: 40px;
  margin: 1em auto;
  padding: 5em;
  background-color: lightblue;
  border-right: 15px solid blue;
  border-bottom: 45px solid black;
}
header{

}
main{
  text-align: justify;
  margin: 2em 0;
}
footer{
  text-align: center;
  font-size: .75em;
  margin-top: 1em;
}
/* layout pieces: */
/* site information: */
.Site-heading {
  width: 50%
  margin: 4em auto;
  padding: 10px;
  position: relative;
  z-index: 1;
  border:  5px double red;
  text-align: center;
}
#site-title {
  margin 5em;
  line-height: 2em;
  font-size: 1em;
}
#site-slogan {
  font-size: 1em;
  letter-spacing: 1px:normal;
  text-transform: uppercase;
}
.site-logo {
  margin: auto;
  margin-top: 12px;
  display: block;
  position: relative;
  z-index: 2;
}
